body {
  display: block;
  margin: 0;
  padding: 0;
  color: #707070;
}

/*Board-editor wrapper*/
.board-editor {
  width: 524px;
  height: 672px;
  margin: 5px auto;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 0;
  background-color: #eee;
}

/*top chesspieces field*/
.chesspieces-top {
  display: block;
  height: 64px;
  width: 512px;
  margin-bottom: 15px;
  background: #888;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) inset;
}

.chesspieces-top__blank {
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.chesspieces-top__black-pawn {
  background-image: url("./images/piece/black/BP.png");
}

.chesspieces-top__black-rook {
  background-image: url("./images/piece/black/BR.png");
}

.chesspieces-top__black-knight {
  background-image: url("./images/piece/black/BKn.png");
}

.chesspieces-top__black-bishop {
  background-image: url("./images/piece/black/BB.png");
}

.chesspieces-top__black-queen {
  background-image: url("./images/piece/black/BQ.png");
}

.chesspieces-top__black-king {
  background-image: url("./images/piece/black/BK.png");
}

/*Chessboard field*/
.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 524px;
  width: 524px;
  font-size: 0;
}

.board__field {
  height: 512px;
  width: 512px;
  background-image: url("./images/board/svg/brown.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.board__cell-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 12px;
  height: 512px;
  margin: 0;
  opacity: 0.8;
}

.board__numbers {
  height: 64px;
  margin: 0;
  font: 12px "Helvetica", "Arial", sans-serif;
  text-align: center;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.board__cell-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 512px;
  height: 16px;
  opacity: 0.8;
}

.board__letters {
  width: 64px;
  margin: 0;
  font: 12px "Helvetica", "Arial", sans-serif;
  text-align: center;
}

/*Bottom chesspieces field*/
.chesspieces-bottom {
  display: block;
  width: 512px;
  height: 64px;
  margin-bottom: 15px;
  background: #ccc;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3) inset;
          box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.3) inset;
}

.chesspieces-bottom__blank {
  display: inline-block;
  width: 64px;
  height: 64px;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.chesspieces-bottom__white-pawn {
  background-image: url("./images/piece/white/WP.png");
}

.chesspieces-bottom__white-rook {
  background-image: url("./images/piece/white/WR.png");
}

.chesspieces-bottom__white-knight {
  background-image: url("./images/piece/white/WKn.png");
}

.chesspieces-bottom__white-bishop {
  background-image: url("./images/piece/white/WB.png");
}

.chesspieces-bottom__white-queen {
  background-image: url("./images/piece/white/WQ.png");
}

.chesspieces-bottom__white-king {
  background-image: url("./images/piece/white/WK.png");
}
